* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
h2 {
  color: #333;
}
/* ----------------------------- */
/* NAVIGATION BAR */
/* ----------------------------- */

nav {
  background: #d1e8fd;
  display: flex;
  padding: 0 44px;
  align-items: center;
  column-gap: 493px;
}
.product-logo {
  height: 40px;
}
.product-menu-inner {
  line-height: 38px;
  margin-top: 15px;
  cursor: pointer;
}
.product-menu-inner span {
  font-size: 21px;
  line-height: 38px;
  margin-top: 15px;
  font-weight: 600;
  padding: 0px 0 0 10px;
  vertical-align: top;
}
.product-menu {
  display: flex;
  list-style: none;
  width: 51.9%;
  justify-content: space-between;
}
.indianflag {
  height: 20px;
  width: 30px;
  vertical-align: middle;
  margin-right: 7px;
}
.product-menu a {
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  padding: 25px 0;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  position: relative;
}

.product-tollfree a::after {
  content: "Mon - Fri 9:00 AM - 7:00 PM";
  position: absolute;
  font-size: 10px;
  color: #777;
  bottom: 10px;
  right: 0;
  white-space: nowrap;
}
.drop-down-svg {
  height: 17px;
  width: 10px;
  vertical-align: middle;
  margin-left: 3px;
}

/* hover animation to show submenu lists */

.product-menu li:hover > .submenu {
  display: block;
}

.product-menu li:hover:not(:nth-child(3), :first-child) > a {
  opacity: 0.5;
}
.price-list {
  position: relative;
}
.price-list::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  border-bottom: 2px solid;
  width: 0;
}
.price-list:hover::after {
  width: 100%;
  transition: width 0.5s;
}
.submenu {
  display: none;
  position: relative;
}
.submenu-container {
  position: absolute;
  top: 25px;
  z-index: 1000;
  display: flex;
  width: 410px;
  border-top: 2px solid #111;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 10px 0 0;
}
.submenu-container.resources-menu {
  right: 28px;
}
.submenu-container.resources-menu ul {
  width: 50% !important;
}
.submenu-container.resources-menu li {
  width: 100% !important;
}
.submenu-container.more-menu {
  right: 25px;
  width: 200px;
}
.submenu-container.more-menu li {
  width: 100%;
}
.submenu-container li {
  display: inline-block;
  list-style: none;
  padding: 5px 0 6px 31px !important;
  width: 70%;
  line-height: 21px;
}
.submenu-container li a {
  color: #333;
  font-size: 15px;
}
.submenu-title {
  font-weight: bold !important;
}
.submenu-container li:hover a {
  color: #03a9f5;
}
.more-icon {
  fill: #03a9f5;
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
.more-features {
  flex-grow: 1;
  height: 30px;
  text-align: center;
  background: #fafafa;
}
.viewall-features {
  position: absolute;
  bottom: 0;
}
.more-features a {
  color: #03a9f5 !important;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list li {
  width: 50%;
}

/* ----------------------------- */
/* STICKY NAVIGATION BAR */
/* ----------------------------- */

#sticky-navbar {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
}
.sticky-navigationbar {
  border-bottom: 1px solid #f0efef;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
}
.sticky-navigationbar nav {
  padding: 0 10px 0 20px;
  height: 52px;
  background-color: #fff !important;
  column-gap: 395px;
}
.sticky-navigationbar .product-menu-inner {
  margin-top: 10px;
}
.sticky-navigationbar .product-menu-inner span {
  vertical-align: 4px;
  padding-left: 5px;
}
.sticky-product-menu {
  width: 54% !important;
}
.sticky-navigationbar .indianflag {
  vertical-align: -4px;
}
.icon-zoho {
  height: 25px;
  width: 63px;
}
#sticky-signup:hover {
  opacity: 1;
}
#sticky-signup {
  color: #fff;
  font-weight: bold;
  background: #f0483e;
  font-size: 13px;
  padding: 6px 15px;
  line-height: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 7px;
  right: 10px;
}
.sticky-navigationbar .submenu-container {
  top: 16px;
  transition: all 0.4s 0.5s;
}
.sticky-navigationbar .more-menu {
  right: -135px !important;
}
.sticky-navigationbar .resources-menu {
  right: -95px !important;
}

/* ----------------------------- */
/* HEAD SECTION */
/* ----------------------------- */

.head-section {
  background: #d1e8fd;
  padding: 45px 0 40px;
  text-align: center;
}
.heading {
  font-size: 50px;
  line-height: 64px;
  margin-bottom: -12px;
  color: #000;
  font-weight: 600px;
}
.head-section p {
  font-size: 18px;
  padding: 0 0 10px;
  position: relative;
  letter-spacing: 0;
  margin: 20px auto 0;
  line-height: 29px;
  max-width: 850px;
  padding: 10px 14px;
}
.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  padding: 0 60px;
  margin: 25px 0 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.btn-primary {
  background: #f0483e;
  border: 1px solid #f0483e;
  color: #fff;
  font-weight: 600;
  padding: 0;
  width: 300px;
  margin-right: 20px;
}
.btn-secondary {
  color: #000;
  border: 1px solid;
}
.head-img-box {
  position: relative;
}
.head-img {
  width: 72%;
  height: auto;
}
.icon-play {
  height: 67px;
  width: 67px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-34%, 6%);
  cursor: pointer;
}

/* ----------------------------- */
/* E-INVOICING AND AUDIT TRAIL SECTION */
/* ----------------------------- */

.e-invoicing-audittrail-section {
  margin: 100px 40px;
  display: flex;
  gap: 30px;
}
.e-invoicing-audittrail-section a {
  text-decoration: none;
  color: #ffe747;
  font-weight: 500;
}
.e-invoicing-audittrail-section p {
  color: #fff;
  max-width: 400px;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 10px;
}
.e-invoicing {
  width: 44%;
  height: 180px;
  transition: 0.25s;
  background: #237bf4;
  display: flex;
  align-items: center;
}
.audittrail-img,
.e-invoicing-img {
  height: 200px;
  width: 220px;
  visibility: visible;
  opacity: 0;
}
.e-invoicing:hover,
.audittrail:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: 0.25s;
  box-shadow: 0 2px 4px rgb(38 54 154/12%);
}

.audittrail {
  padding-right: 20px;
  width: 60% !important;
}
.audittrail img {
  width: 290px;
  height: 178px;
  margin: 0 15px;
}
/* ----------------------------- */
/* KEY FEATURES SECTION */
/* ----------------------------- */

.key-features-section {
  margin: 50px auto 20px;
  max-width: 1100px;
}
.key-features-section h2 {
  line-height: 34px !important;
  font-weight: 700;
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.4px;
}

.key-features-container {
  padding: 15px 0 0;
  margin: 0 5px 5px;
  display: flex;
}
.key-features-box {
  width: 30%;
  height: 428px;
  border: 1px solid #e2ebf9;
  margin: 1.5%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.key-features-box img {
  height: 61px;
  width: 68px;
  margin: 40px 0 20px;
}
.key-features-box span {
  color: #3c3c3c;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
}
.key-features-box p {
  color: #000;
  font-size: 17px;
  line-height: 30px;
  margin: 20px auto;
}

/* ----------------------------- */
/* AWARD BANNER */
/* ----------------------------- */

.award-banner {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}
.award-banner img {
  width: 35%;
  padding-top: 20px;
}

/* ----------------------------- */
/* FEATURES SECTION */
/* ----------------------------- */

.features-section {
  overflow: hidden;
  margin: 70px auto 90px;
  max-width: 1200px;
}
.section-heading {
  line-height: 34px !important;
  font-weight: 700;
  padding-bottom: 30px;
  margin: auto;
  text-align: center;
}
.features-section h2 {
  font-size: 34px;
  padding-bottom: 50px;
  max-width: 70%;
}
.features-list {
  list-style: none;
  max-width: 1090px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  padding-right: 60px;
}
.features-list li {
  min-width: 110px;
  padding: 6px 30px;
  cursor: pointer;
  color: #333333;
  font-size: 17px;
}

.features-list li:hover a {
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}
.features-list li:not(:first-child) {
  border-left: 1.5px solid #efefef;
}
.features-list li a {
  padding: 9px;
}
.border-bottom {
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}
.slide-container {
  display: flex;
}

.slide-view {
  display: none;
}
.slide-left {
  width: 59%;
}
.slide-right {
  width: 40%;
  padding: 0 40px;
}
.slide-right p {
  padding: 16% 0 15px;
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 10px;
}
.slide-right ul {
  list-style: none;
  margin-bottom: 25px;
}
.slide-right li {
  margin-bottom: 7px;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 1.7;
}

.slide-right a {
  color: #176dd0;
  font-weight: 600;
}
.space {
  margin-left: 32px;
}
.arrow-icon {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  fill: #176dd0;
}

/* ----------------------------- */
/* GST SECTION */
/* ----------------------------- */

.gst-section h2 {
  font-size: 31px;
}
.gst-container {
  max-width: 1220px;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.row-gap {
  row-gap: 30px;
}
.gst-content-box {
  display: flex;
  align-items: flex-start;
}
.gst-content-box h3 {
  font-size: 22px;
  color: #3c3c3c;
  margin: 40px 101px 20px 40px;
}
.gst-content-box p {
  color: #000;
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  margin: 5px 100px 20px 40px;
  padding: 0;
  text-align: left;
  letter-spacing: 0.1px;
}
.gst-content-box img {
  width: 127px;
  height: 114px;
  margin-top: 40px;
}
.learnmore {
  text-align: center;
  margin-bottom: 20px;
}
.learnmore a {
  font-size: 18px;
  letter-spacing: 0.3px;
  margin-right: 5px;
  font-weight: 400;
  color: #176dd0 !important;
}

/* ----------------------------- */
/* BUSINESS SECTION */
/* ----------------------------- */

.business-section {
  width: 90%;
  max-width: 1060px;
  margin: 50px auto 80px;
  background-color: #eaf5ff;
  padding-top: 30px;
  border-radius: 5px;
}
.business-section h2 {
  font-size: 31px;
}
.bussiness-icon {
  background-color: #ffdcd0;
  width: 45px;
  padding: 6px;
  margin-right: 5px;
  line-height: 0;
}
.midmarket-icon {
  background-color: #d9edff !important;
}
.business-container {
  display: flex;
  justify-content: center;
}
.business-content:hover {
  cursor: pointer;
  box-shadow: 7px 7px 10px 2px #cbdfff;
  transition: box-shadow 0.2s;
}
.business-content:hover > .arrow-icon {
  background-color: #176dd0;
  fill: #fff;
}
.business-content {
  width: 30%;
  min-width: 300px;
  background-color: #fff;
  padding: 5px 10px 5px 5px;
  display: flex;
  align-items: center;
  margin: 10px 10px 30px;
}
.business-content p {
  font-size: 18px;
}
.business-content .arrow-icon {
  background-color: #cbdfff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 4px;
  margin-left: auto;
}

/* ----------------------------- */
/* PRICE SECTION */
/* ----------------------------- */

.price-section h2 {
  font-size: 31px;
  margin-bottom: 20px;
}
.price-section.indianflag {
  width: 27px;
  height: 18px;
}
.tooltip {
  text-align: right;
  margin: 0 120px 20px 0;
}
.tooltip-text {
  font-size: 15px;
}
.down-arrow-img {
  width: 12px;
  margin: 0 5px;
  vertical-align: middle;
}
.tooltip a {
  color: #186bd8;
  font-weight: 500;
}
.info-icon {
  height: 14px;
  width: 14px;
  margin-right: 10px;
}
.price-container {
  margin: 0 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.price-box {
  padding: 30px 30px 46px;
  width: 220px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.price-box:hover {
  box-shadow: 0 0 9px #dde4ff;
  border: 1px solid #dde4ff;
  transform: translateY(-7px) scale(1.05);
  z-index: 2;
  transition: 0.3s;
}
.price-box:hover .startnow-button {
  transition: 0.3s;
  color: #e8f1ff;
  background-color: #0067ff;
}
.plan-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}
.plan-name::after {
  content: "";
  width: 40px;
  border: 1px solid #006ae5;
  position: absolute;
  left: 0;
  top: 30px;
}
.giftbox {
  height: 118px;
  margin: 44px 0 25px;
}
.startnow-button {
  cursor: pointer;
  background: #e8f1ff;
  color: #0067ff;
  border: 1px solid #0067ff;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0;
  letter-spacing: 2px;
  width: 100%;
  max-width: 230px;
  border-radius: 2px;
  text-align: center;
  display: block;
  text-transform: uppercase;
}
.price-box li span {
  font-weight: 700;
  font-size: 40px;
}
.price-box li {
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  padding-top: 10px;
}
.price-foot {
  font-size: 12px;
  line-height: 1.6;
  margin: 20px 130px;
  font-style: italic;
  text-align: right;
}
.price-section .learnmore {
  margin: 40px 0;
}

/* ----------------------------- */
/* TESTIMONIAL SECTION */
/* ----------------------------- */

.testimonial-section {
  max-width: 960px;
  margin: 30px auto;
}
.testimonial-section h2 {
  font-size: 31px;
}
.testimonial-container {
  display: flex;
  margin: 30px 0;
}
.testimonial-left {
  width: 60%;
  border: 1px solid #efefef;
  position: relative;
}
.testimonial-left .icon-play {
  height: 50px;
  width: 50px;
  left: 86%;
  top: 38%;
}
.customer-img-left {
  height: 270px;
  width: 100%;
  background-color: #eee;
  overflow: hidden;
}
.customer-img-left img {
  width: 98%;
}
.customer-details-left {
  padding: 20px;
}
.customer-name {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  font-weight: 600;
  line-height: 41px;
  text-transform: uppercase;
}
.customer-details-left span {
  margin-bottom: 20px;
  display: inline-block;
}
.customer-details-left p {
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 29px;
  text-align: left;
  padding: 0;
}
.testimonial-right {
  width: 48%;
  padding: 3%;
  margin-left: 30px;
  color: #fff;
  position: relative;
  background-color: #2babeb;
  overflow: hidden;
}
.testimonial-right p {
  font-size: 17px;
  line-height: 32px;
  font-style: italic;
  text-align: left;
}
.testimonial-right span {
  font-style: italic;
}
.customer-img-right {
  width: 278px;
  height: 216px;
  position: absolute;
  bottom: 0;
  right: -59px;
}
.break {
  border-top: 1px solid #fff;
  width: 35px;
  margin: 20px 0;
}
.testimonial-section .learnmore {
  padding: 28px;
}

/* ----------------------------- */
/* ADDONS SECTION */
/* ----------------------------- */

.addons-section {
  position: relative;
  width: 95%;
  min-height: 47px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}
.addons-section h2 {
  margin-top: 20px;
  font-size: 31px;
}
.integration-list {
  background-image: url(images/integration-bg-wave.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 427px;
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(9, 1fr); */
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr 1fr 1fr 1.2fr 1fr;
  padding: 60px 0 100px;
}
.integration-list-items {
  padding-top: 90px;
  position: relative;
  text-align: center;
  width: 126px;
  font-size: 15px;
  line-height: 0.8;
  letter-spacing: -0.3px;
  transform: scaleX(0.6);
  opacity: 0;
}
/* intergations animations  */
.animation {
  opacity: 1;
  transform: scaleX(1);
}
.integration-list-items::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #8fc9ff;
  box-shadow: 0 0 20px rgb(0 0 0 / 6%);
}
.integration-list-items:nth-child(odd) {
  align-self: end;
}
.integration-list-items:first-child,
.integration-list-items:last-child {
  transition: 0.5s ease 1.1s;
}
.integration-list-items:nth-child(2) {
  transition: 0.5s ease 0.9s;
}
.integration-list-items:nth-child(3) {
  transition: 0.5s ease 0.7s;
}
.integration-list-items:nth-child(4) {
  transition: 0.5s ease 0.5s;
}
.integration-list-items:nth-child(5) {
  align-self: center;
  padding-left: 20px;
  padding-top: 162px;
  width: 100%;
  height: 135px;
  margin-top: 43px;
  margin-left: 29px;
  transition: 0.5s ease;
}
.integration-list-items:nth-child(6) {
  margin-left: 70px;
  transition: 0.5s ease 0.5s;
}

.integration-list-items:nth-child(5)::before {
  align-self: center;
  margin-top: 13px;
  margin-left: -54px;

  width: 135px;
  height: 135px;
}
.integration-list-items:nth-child(7) {
  transition: 0.5s ease 0.7s;
}
.integration-list-items:nth-child(8) {
  width: 100%;
  transition: 0.5s ease 0.9s;
}

.integration-list-items::after {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/books-integrations-sprite.png);
  background-repeat: no-repeat;
}

.integration-list-items:first-child::after {
  background-position: top left 60%;
  top: -35px;
  left: 16px;
}
.integration-list-items:nth-child(2)::after {
  background-position: top center;
  top: -33px;
  left: 22px;
}
.integration-list-items:nth-child(3)::after {
  background-position: top left 3.4%;
  top: -33px;
  left: 22px;
}

.integration-list-items:nth-child(4)::after {
  transform: scale(0.25);
  background-position: -308px -260px;
  top: -8px;
  left: -70px;
  width: 270px;
}
.integration-list-items:nth-child(5)::after {
  background-position: top 60% left 11%;
  top: 40px;
  left: 56px;
  transform: scale(0.9);
}
.integration-list-items:nth-child(6)::after {
  background-position: top left 23%;
  top: -33px;
  left: 22px;
}
.integration-list-items:nth-child(7)::after {
  background-position: top right 2%;
  transform: scale(0.8);
  top: -24px;
  left: 25px;
}
.integration-list-items:nth-child(8)::after {
  background-position: top 30% right 4%;
  transform: scale(0.56);
  top: -24px;
  /* left: 1px; */
  width: 140px;
}
.integration-list-items:nth-child(9)::after {
  background-position: top 27% left 44%;
  top: -22px;
  left: 17px;
}

/* ----------------------------- */
/* MOBILE SECTION */
/* ----------------------------- */

.mobile-section {
  width: 80%;
  height: 600px;
  margin: 90px auto 0;
}
.mobile-section h2 {
  font-size: 32px;
  text-align: left !important;
}
.mobile-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
}
.mobile-left-img {
  width: 62%;
  visibility: hidden;
  opacity: 0;
}
.align-content {
  align-items: center;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
}
.mobile-img {
  width: 100%;
}
.mobile-right-content {
  width: 32%;
  margin-left: 6%;
}
.mobile-right-content p {
  font-size: 18px;
  line-height: 27px;
  margin-top: -15px;
}
.download-icons {
  width: 49.5%;
  margin: 12% 0;
  display: inline-block;
  height: 43px;
}
.appstore-icon {
  width: 128px;
}
.mobile-right-content .learnmore {
  text-align: left !important;
}

/* ----------------------------- */
/* SIGNUP CONTAINER */
/* ----------------------------- */

.signup-section {
  color: #333;
  position: relative;
  padding: 70px 0 90px;
  z-index: 1;
  text-align: center;
  background: linear-gradient(to bottom, #fff 60%, #d1e8fd 100%);
}
.signup-section h2 {
  font-size: 31px;
}
.signup-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 260px;
  background: url(images/footer_wave_uk.svg) no-repeat 80% bottom;
}

/* ----------------------------- */
/* MADE IN INDIA SECTION */
/* ----------------------------- */

.made-in-india {
  background: url(images/madeinindia-bg.png) no-repeat;
  padding: 56px 0;
}
.made-in-india img {
  margin: 0 auto 25px;
  width: 120px;
  display: block;
}
.made-in-india h2 {
  color: rgb(5, 59, 79);
  font-size: 41px;
  font-weight: 400;
}

/* ----------------------------- */
/* FOOTER SECTION AND LINK CONTAINERS */
/* ----------------------------- */

.footer-section {
  max-width: 100%;
  padding: 40px 8%;
  display: flex;
  border-top: 1px solid #e2e2e2;
  background-color: #333;
  color: #fff;
}
.banner-container {
  width: 29%;
  max-width: 500px;
  margin-right: 10%;
  text-align: center;
}
.banner-img-container {
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  display: block;
  margin: 30px 0;
}
.banner-img-container img {
  margin-bottom: 20px;
  max-width: 95%;
}
.rating img {
  width: 30%;
}
.footer-section-link {
  width: 62%;
}
.link-container {
  display: flex;
  justify-content: space-between;
}
.link-container h3 {
  font-size: 18px;
  color: #fff;
  letter-spacing: -0.3px;
}

.list-link {
  margin: 10px 0 30px;
  list-style: none;
}
.list-link li {
  padding: 7px 0;
  font-size: 14px;
}
.list-link li a {
  color: #cccccc;
  position: relative;
}
.list-link li a:hover {
  color: #fff;
}
.list-link li a:hover::after {
  width: 100%;
  transition: width 0.5s;
}
.list-link li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  border-bottom: 1px solid #fff;
}

.callus {
  margin-top: 30px;
  font-weight: bold;
}
.callus a {
  color: #4bbadc;
}
.callus span {
  font-size: 12px;
  color: #ccc;
}
.social-media svg {
  height: 35px;
  width: 35px;
  vertical-align: middle;
}
.select-mobileapp-container {
  display: flex;
  margin-top: 60px;
  column-gap: 40px;
  align-items: center;
  position: relative;
}
.select-mobileapp-container h3 {
  margin-bottom: 20px;
  font-weight: normal;
}
.select-edition select {
  padding: 10px 40px;
  margin: 5px 0;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
.select-edition .indianflag {
  width: 27px;
  position: absolute;
  left: 10px;
  bottom: 15px;
}
.mobile-apps img {
  height: 40px;
}
.zoho-privacy {
  margin-top: 60px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  padding-top: 25px;
  position: relative;
}
.zoho-privacy p {
  font-weight: bold;
  position: absolute;
  top: -12px;
  left: 25%;
  padding: 0 30px;
  z-index: 1;
  background-color: #333;
}
.zoho-privacy img {
  height: 65px;
  margin-right: 20px;
}

/* ----------------------------- */
/* ZOHO FINANCE APPS */
/* ----------------------------- */

.zoho-finance-apps {
  margin: 60px 8%;
  padding: 35px 50px 0;
  border-top: 1px solid #ccc;
  overflow: visible;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.zoho-finance-apps h3 {
  position: absolute;
  top: -12px;
  background: #fff;
  padding: 0 30px;
}
.apps-container {
  padding: 20px 10px;
  display: flex;
  align-items: center;
}
.app-logo {
  width: 40px;
  height: 40px;
  background-image: url(images/app-logos-sprite-1x.png);
  background-repeat: no-repeat;
  margin-right: 5px;
}
.app-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #000;
}
.app-description p {
  font-weight: bold;
  margin-bottom: 5px;
}
.app-description span {
  font-size: 13px;
}
.expense-logo {
  background-position: -17px -4px;
}
.subscription-logo {
  background-position: -12px -67px;
}
.inventory-logo {
  background-position: -17px -168px;
  transform: scale(1.3);
}

.checkout-logo {
  background-position: -102px -8px;
}
.payroll-logo {
  background-position: -104px -66px;
  transform: scale(1.3);
}

/* ----------------------------- */
/* FOOTER */
/* ----------------------------- */

footer {
  padding: 80px 0;
  background-color: #f1f1f1;
  text-align: center;
}
footer ul {
  margin: 0 auto 15px;
  max-width: 790px;
  overflow: hidden;
  padding: 0 3%;
}
footer ul li {
  list-style: none;
  margin-bottom: 15px;
  display: inline-block;
  border-right: 1px solid #ccc;
  font-size: 13px;
  letter-spacing: -0.3px;
}
footer ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  padding: 0 12px;
}

footer ul li:last-child {
  border: none;
}
.copyright {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin: 5px auto;
}

/* ----------------------------- */
/* Demo Popup Section */
/* ----------------------------- */
.request-demo {
  margin: 15px 10px 30px auto;
  width: 60px;
  height: 60px;
  outline: none;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-image: url(images/demo-request.svg);
}
.demo-pop-over {
  padding: 10px 20px;
  left: -165px;
  top: 12px;
  box-shadow: 1px 1px 10px -1px #aaa;
  width: 150px;
  font-size: 13px;
  border-radius: 5px;
  background: #fff;
  text-align: left;
  position: absolute;
}
.demo-pop-over:after {
  position: absolute;
  left: 100%;
  top: 18px;
  content: "";
  height: 0;
  width: 0;
  border: 7px solid rgba(0, 0, 0, 0);
  border-left-color: #fff;
  margin-top: -7px;
}
.demo-pop {
  position: fixed;
  bottom: 70px;
  right: 0;
  z-index: 11;
}

.language-banner-container {
  position: fixed;
  left: 40px;
  bottom: 30px;
  width: 224px;
  background: #3674e2;
  padding: 27px 30px 30px;
  text-align: center;
  border-radius: 7px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 10px rgb(0 0 0 / 27%);
  transition: all 0.4s ease-out;
}
.lang-icon {
  max-width: 160px;
  margin: 0 auto;
  display: block;
}
.language-banner-container a {
  color: #fff;
  border: 1px solid #fff;
  font-size: 11px;
  padding: 10px 0;
  font-weight: 600;
  border-radius: 4px;
  display: block;
  width: 94px;
  margin: 12px auto 0;
  font-weight: bold;
  text-transform: uppercase;
}
.language-banner-container p {
  color: #fff;
  padding-top: 14px;
  line-height: 26px;
  font-size: 19px;
}
.close-icon {
  position: absolute;
  top: -11px;
  right: -12px;
  width: 26px;
  cursor: pointer;
}
.langPopup-visible {
  opacity: 1 !important;
  visibility: visible !important;
}
